@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../css/TabsComponent.css';
@import '../css/NavLinks.css';

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

.footer-link {
  @apply underline duration-500 text-gray-500 dark:text-gray-400
}

.footer-link:hover {
  @apply underline duration-500 text-gray-400 dark:text-gray-300
}

.tag-link {
  @apply text-primary-500 duration-300
}

.tag-link:hover {
  @apply text-primary-600 dark:text-primary-400
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

/* Collapsible component */
details summary {
  font-weight: 700;
  padding: 0.5rem;
}

details {
  @apply dark:bg-neutral-600 !important
}

/* Posts in Series component */
/* .posts-in-series p::after {
  content: "";
  position: absolute;
  text-align: right;
  bottom: 0;
  right: 0;
  width: 20%;
  height: 1.45em;
  word-break: keep-all !important;
  overflow-wrap: normal !important;
  @apply bg-gradient-to-r from-transparent dark:to-gray-900 to-white;
} */

/* Ellipsis method has a chance of breaking on non-supporting browsers (mainly IE
   at this stage, but is more reliable than the fade-out method */
.posts-in-series a, .posts-in-series span {
  text-overflow: ellipsis;
  word-break: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: pre-wrap;
}
